@model TheWatchers.Models.motachitiet

<div>
    <h4>motachitiet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.mausac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mausac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.baohanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.baohanh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.khung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.khung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dongho.loai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dongho.loai)
        </dd>

    </dl>
</div>
