@using TheWatchers.Models;

@using PagedList.Mvc;
@using PagedList;
@model IPagedList<dongho>

@{
	ViewBag.Title = "Search";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewBag.Thongbao</h2>
<div class=" card-group">
	@foreach (dongho item in Model)
	{
		<div class="card mt-1" style="width: 300px; ">
			<img class="img-top" src="~/Models/Images/watch-card.jpg" alt="watches">
			<div class="card-body">
				<h4 class="card-title">@item.tensp</h4>
				<p class="card-text">@item.thuonghieu</p>
				<p class="card-text">@item.dongia</p>
				<a class="card-link" href= @Url.Action("ProductDetail", new { @madh = item.masp }) >Xem chi tiết</a>
				@using (Html.BeginForm("AddToCart", "Cart", new { @MaDH = item.masp, @Url = Request.Url }))
				{
					<input type="submit" value="Add To Cart" class="btn btn-lg btn-brand btn-full-width" id="btnAddToCart" />
				}
			</div>
		</div>
	}
</div>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
<div class="d-inline">
	@Html.PagedListPager(Model, page => Url.Action("Search", new { page = page }));
</div>

